* {
    padding: 0%;
    margin: 0%;
}

body {
    background: url('IMAGENES/');
    background-size: auto 100%;
}

/*Comienza navbar*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7f5cff;
    padding: 1rem;
  }
  
  /* Estilo de los enlaces y el logo en el navbar */
  .navbar a {
    font-family: 'Work Sans', sans-serif; 
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  .logo a {
    font-family: 'Work Sans', sans-serif; 
    font-weight: 700; 
    font-size: 1.5rem;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  
  
  
  .logo a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  
  

h1 {
    font-family: 'Work Sans';
}

p {
    font-family: 'Martel Sans';
}

.cajae1 {
    margin: 50px ;
    width: 400px;
    height: auto;
    align-self: center;
}

.caja2 {
    background: #DFD6FF;
    width: 100% ;
    height: 400px;
    margin: auto;
}

.cajae {
    width: 100% ;
    height: 100% ;
    margin: 50px;
    display: inline-block;
}

.img1 {
    border-radius: 50px;
    height: 500px;
    width: 500px;
}

.img {
    border-radius: 50px;
}

/* Footer */
footer {
    background-color: #7f5cff;
    color: white;
    padding: 2rem;
    text-align: center;
  }
  
  footer .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  footer .logo {
    flex: 1;
    text-align: center;
  }
  
  footer .contact-info, footer .social-media, footer .location {
    flex: 1;
    margin: 1rem;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  .image img {
    transition: transform 0.3s ease;
  }
  
  .image img:hover {
    transform: scale(1.1);
  }
  
  