/* General styles */
body {
  background-color: #1D201F;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden; /* Evitar scroll horizontal */
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-contactos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.header-contactos h1 {
  color: #7f5cff;
  font-size: 2rem;
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7f5cff;
  padding: 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

.menu a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
  }

  .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .menu a {
      margin: 10px 0;
  }

  .header-contactos h1 {
      font-size: 1.5rem;
  }
}

/* Cards */
.card {
  width: 100%;
  margin: 20px 0;
  border-radius: 6px;
  overflow: hidden;
  background: fixed;
  box-shadow: 0px 1px 10px #aa0f52;
  cursor: default;
  transition: all 400ms ease;
  text-align: center;
  background-color: #dde5b6;
  padding: 20px;
}

.card h3 {
  font-size: 24px;
  color: #1D201F;
}

.card:hover {
  box-shadow: 5px 5px 20px #d1e5b6;
  transform: translateY(-3%);
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
  }
}

/* Footer */
footer {
  background-color: #7f5cff;
  color: white;
  padding: 2rem;
  text-align: center;
}

footer .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

footer .logo {
  flex: 1;
  text-align: center;
}

footer .contact-info, footer .social-media, footer .location {
  flex: 1;
  margin: 1rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
.image img {
  transition: transform 0.3s ease;
}

.image img:hover {
  transform: scale(1.1);
}

@keyframes slide-left {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slide-right {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

.slide-left {
  opacity: 0;
  animation: slide-left 1s ease-out forwards;
}

.slide-right {
  opacity: 0;
  animation: slide-right 1s ease-out forwards;
}

