*{
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #700548;
  padding: 1rem;
}

.logo a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

.menu a:hover {
  text-decoration: underline;
}

.header-recursos {
    background-color: #201E1F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    margin-bottom: 5rem;
}

.header-recursos .h1-header {
  text-align: center;
  color: #7F5CFF;
  

}

.intro-tecnicas {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;


}

h2 {
  font-family: "Work Sans", sans-serif;
  font-size: medium;
}

p {
  font-family: "Martel Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

}

/*Comienzo de tarjetas 
*/

.image-card-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-bottom: 5rem;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 400px; 
}

.card img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

.card-text {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  text-align: left;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-text h4 {
  font-size: 18px;
  margin: 0;
  line-height: 1.2;
}

.card-text p {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover img {
  transform: scale(1.05);
}

.card:hover .card-text {
  opacity: 1;
}

/* Responsividad */
@media (max-width: 768px) {
  .image-card-gallery {
    grid-template-columns: 1fr;
  }
}



/* Mansory gallery
*/

.recursos-utiles {
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 40px 0;
}

.section-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

.mansory-gallery {
  column-count: 3; 
  column-gap: 15px; 
}

.photo {
  break-inside: avoid;
  margin-bottom: 15px; 
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(32, 30, 31, 0.3); 
}

.photo img {
  width: 100%;
  height: auto; 
  display: block;
  object-fit: cover; 
  transition: transform 0.3s ease-in-out;
}

.photo:hover img {
  transform: scale(1.05); 
}

@media (max-width: 768px) {
  .mansory-gallery {
    column-count: 1; 
  }
}


/* Estilos generales */
.photo {
  cursor: pointer;
}

.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con transparencia */
  justify-content: center;
  align-items: center;
}

/* Contenido del modal */
.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  background-color: transparent; 
  justify-content: center;
  align-items: center;
}

.modal-content img {
  max-width: 100%;
  max-height: 90vh; 
  border-radius: 10px;
}

/* Botón para cerrar */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #f1f1f1;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .modal-content {
    max-width: 100%;
    max-height: 100%;
  }
}

/* accordion
*/

/* Estilos de la sección */
.container-accordion {
  padding: 50px 20px; /* Ajuste de padding */
  background: #F5E5F0;
  width: 100%; /* Se ajusta al ancho de la pantalla */
}

/* Título */
.tittle-cuestionarios {
  margin-top: 2rem;
  text-align: center;
}

/* Acordeón */
.accordion {
  margin: 60px auto;
  width: 100%; /* Asegura que ocupe el 100% del contenedor */
  max-width: 800px; /* Limita el tamaño máximo en pantallas grandes */
}

/* Elementos del acordeón */
.accordion li {
  list-style: none;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #fffafd;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  transition: box-shadow 0.3s ease; /* Añade animación */
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

/* Cambia el icono '+' a '-' */
label::before {
  content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 700;
}

/* Ocultar input de radio */
input[type="radio"] {
  display: none;
}

/* Contenido del acordeón (oculto por defecto) */
.accordion .content {
  color: #555;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
}

/* Contenido visible cuando se selecciona el input */
.accordion input[type="radio"]:checked + label + .content {
  max-height: 400px; /* Define la altura máxima para el contenido abierto */
  padding: 10px 10px 20px; /* Añade padding al contenido */
}

.accordion input[type="radio"]:checked + label::before {
  content: '-'; /* Cambia el icono al abrirse */
}

/* Botón secundario */
.secondary-button {
  font-family: "Martel Sans", sans-serif;
  font-weight: 600;
  margin-left: 10px;
  border: none;
  background: none;
  color: #AA4586;
  cursor: pointer;
  padding: 10px;
  border: 2px solid transparent;
  transition: color 0.3s, border-color 0.3s;
}

.secondary-button:hover {
  color: #fff;
  background-color: #AA4586;
  border-color: #AA4586;
}

/* --- Responsividad --- */

/* Pantallas medianas */
@media (max-width: 768px) {
  .accordion {
    width: 90%; /* Se reduce el ancho para pantallas más pequeñas */
  }

  .accordion li label {
    font-size: 16px; /* Se reduce el tamaño de texto */
  }

  .secondary-button {
    font-size: 14px; /* Ajuste del tamaño del botón */
  }
}

/* Pantallas pequeñas */
@media (max-width: 576px) {
  .accordion {
    width: 100%; /* Asegura que use todo el espacio disponible */
  }

  .accordion li label {
    font-size: 14px; /* Texto más pequeño para móviles */
  }

  .secondary-button {
    font-size: 12px; /* Ajuste del tamaño del botón */
  }
}


/*Termina acordion*/

.slider-juegos {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-justify: center;
}

.slider-container{
  width: 100%;
  height: 100vh;
  background-image: url('/recursos-multimedia/gradient background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-images{
  display: flex;
  align-items: center;
  gap: 21px;
}

.slider-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.slider-img{
  width: 110px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  transition: 0.7s ease;
}

.cuestionarios {
  background-color: #F5E5F0;
  padding-top: 50px;
}

.acordion {
  margin: 60px auto;
  width: 600px;
}

.acordion li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background: #F5E5F0;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.acordion li label{
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

label::before{
  content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type="radio"]{
  display: none;
}

.acordion .content {
  color: #555;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.acordion input[type="radio"]:checked + label +.content{
  max-height: 400px;
  padding: 10px 10px 20px;
}

.acordion input[type="radio"]:checked + label::before{
  content: '-';
}

.secondary-button { 
  font-family: "Martel Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-left: 10px;
  align-items: right;
  border: none;
  background: none;
  color: #AA4586;
}

footer {
  background-color: #700548;
  color: white;
  padding: 2rem;
  text-align: center;
}

footer .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

footer .logo {
  flex: 1;
  text-align: center;
}

footer .contact-info, footer .social-media, footer .location {
  flex: 1;
  margin: 1rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

